<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Page title</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <!--
    <script src="https://use.typekit.net/ern7cfk.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>-->

  <!--<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500" rel="stylesheet">


  <link rel="stylesheet" href="template.css">

</head>

<body>


  <h1>Page content</h1>



  <script src="template.js"></script>

</body>

</html>
